<h2>Edit default price</h2>

<%= render "form.html", changeset: @changeset,
                        action: default_price_path(@conn, :update, @default_price),
                        membership_types: @membership_types,
                        membership_categories: @membership_categories %>

<%= link "Back", to: default_price_path(@conn, :index) %>
