<h2>Edit enquiry response</h2>

<%= render "form.html", changeset: @changeset,
                        action: enquiry_response_path(@conn, :update, @enquiry_response) %>

<%= link "Back", to: enquiry_response_path(@conn, :index) %>
