<h2>Edit resource permissions</h2>

<%= render "form.html", changeset: @changeset,
                        action: resource_permissions_path(@conn, :update, @resource_permissions) %>

<%= link "Back", to: resource_permissions_path(@conn, :index) %>
